html {
  font-family: Libre Baskerville, Georgia, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  --primary-background-color: #fff;
  --primary-text-color: #494c4e;
  --primary-highlight-color: #FCB614;
  --border-color: #494c4e;
  --secondary-text-color: #6d6d6d;
  --box-shadow-color: #494c4e;

  --image-filter-value: grayscale(0%);

  border: 8px solid var(--border-color);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  min-height: 100vh;

  cursor: url(../images/dark-dot.png) 0 0, auto !important;
}

.app.dark {
  --primary-background-color: #494c4e;
  --primary-text-color: #fff;
  --primary-highlight-color: #FCB614;
  --secondary-text-color: #ababab;
  --box-shadow-color: #fff;

  --image-filter-value: grayscale(30%);

  cursor: url(../images/light-dot.png) 0 0, auto !important;
}

header {
  margin: 40px 0 100px 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  line-height: 1.5em;
}

p {
  line-height: 2em;
  padding-bottom: 1.5em;
}

strong {
  color: var(--primary-highlight-color);
}

.blog-content a {
  color: var(--primary-highlight-color);
  text-decoration: underline;
}

.blog-content a:hover {
  text-decoration: none;
}

.logo {
  padding: 20px;
  border: 6px solid var(--primary-text-color);
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}

.logo-link {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: inherit;
}

.logo div {
  transition: transform 0.4s ease-in-out;
  transform: rotate(0deg);
}

.logo:hover {
  transform: rotate(-90deg);
}

.logo:hover > div {
  transform: rotate(90deg);
}

.logo-text {
  transform: rotate(0deg);
}

.links {
  vertical-align: middle;
  display: flex;
}

.link {
  font-weight: 700;
  color: var(--primary-text-color);
  text-decoration: none;
  margin: auto 3em auto 0;
  cursor: inherit;
}

.link:hover {
  border-bottom: 3px solid var(--primary-highlight-color);
}

.content {
  max-width: 80em;
  margin: auto;
  padding: 0 2em;
  transition: 0.5s ease-in;
}

.page-blurb {
  padding-bottom: 6em;
}

.image-container {
  /* width: "100%";
  height: "550px"; */
}

.reading-view {
  max-width: 850px;
  margin: auto;
}

.hero {
  margin-bottom: 100px;
}

img {
  filter: var(--image-filter-value);
}

.highlight {
  color: var(--primary-highlight-color);
}

.about {
  margin-top: 5em;
}

.contact {
  border-top: 1px solid lightgrey;
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 4em auto 0 auto;
}

.iconSM {
  width: 30px;
  height: 30px;
  color: var(--primary-highlight-color);
  font-size: 2em;
  transition: transform .3s;
  cursor: inherit;
}

.iconSM:hover {
  transform: scale(1.2);
}

hr {
  background-color: lightgrey;
  height: 1px;
  border: 0;
}

.blog {
  text-decoration: none;
  color: var(--primary-text-color);
  cursor: inherit;
}

.blog-banner {
  margin-top: 5em;
}

.blog-title {
  color: var(--primary-highlight-color);
  text-decoration: underline;
  margin-top: 5em;
}

.blog-title:hover {
  text-decoration: none !important;
  color: var(--primary-highlight-color);
}

.blog-subtitle {
  color: var(--secondary-text-color);
}

.blog-view {
  max-width: 650px;
  margin: auto;
}

.blog-content {
  margin: 5em 0;
}

.blog-content img {
  max-width: 650px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-highlight-color);
  padding: 1em;
  cursor: inherit;
}

.nav-link.next {
  text-align: right;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.all {
  text-transform: capitalize;
}

pre {
  border-radius: 0.5em;
}

a.highlight:hover {
  text-decoration: none;
}

.blurb {
  color: var(--primary-text-color);
}

.project {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
}

.project-thumbnail {
  min-width: 200px;
  min-height: 200px;
  border-radius: 7em;
  margin: 2em 2em 0 0;
}

.project-title {
  color: var(--primary-highlight-color);
  text-decoration: underline;
  margin-top: 4em;
}

.project-title:hover {
  text-decoration: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0 1em 1em 0;
  padding: 0.1em 1em;
  border: 1px solid var(--primary-text-color);
  border-radius: 2em;
  white-space: nowrap;
}

.blog-filter {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
}

.blog-filter button {
  background: none;
	color: inherit;
	padding: 0.5em 0.8em;
	font: inherit;
}

.filter {
  transition: 0.2s ease;
}

.filter:hover {
  opacity: 0.7;
}

.filter.selected {
  color: var(--primary-highlight-color) !important;
}

.subscribe {
  margin-top: 5em;
  padding: 2em;
  border: 1px solid lightgrey;
  box-shadow: var(--border-color) 6px 6px;
}

.subscribe p {
  padding: 0;
  margin: 0;
}

.subscribe h2 {
  margin-top: 0;
}

.subscribe form {
  margin-top: 2em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.subscribe input[type=text] {
  flex: 1 0 auto;
  padding: 1.25em;
  font-family: Libre Baskerville, Georgia, serif;
  border-radius: 0;
  border: 1px solid var(--border-color);
  cursor: inherit;
}

.subscribe .email-response {
  margin-top: 1em;
}

.subscribe .success {
  color: var(--primary-highlight-color)
}

.subscribe .unsubscribe {
  font-size: 0.7em;
  padding-top: 1.5em;
  color: var(--primary-highlight-color);
  text-decoration: underline;
}

.subscribe .unsubscribe:hover {
  text-decoration: none;
}

.subscribe .error {
  color: #FC3F14;
}

.subscribe button {
  color: #494c4e;
  width: 200px;
  background-color: var(--primary-highlight-color);
  border: none;
  margin: -10px 0 0 1em;
  letter-spacing: .05em;
  font-family: Libre Baskerville, Georgia, serif;
  box-shadow: 10px 10px  var(--box-shadow-color);
  transition: transform 0.1s, box-shadow 0.1s;
  outline: none;
  cursor: inherit;
}

.subscribe button:hover {
  box-shadow: 6px 6px  var(--box-shadow-color);
  transform: translate(4px, 4px);
}

.subscribe button:active {
  box-shadow: 0px 0px  var(--box-shadow-color);
  transform: translate(10px, 10px);
}

.subscribe button:disabled {
  box-shadow: 0px 0px  var(--box-shadow-color);
  transform: translate(10px, 10px);
}

footer {
  border-top: 1px solid lightgrey;
  margin: 100px 0;
  padding-top: 75px;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  margin: auto 3em auto 0;
  cursor: inherit;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 30px;
  cursor: inherit;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  cursor: inherit;
}

input:checked + .slider {
  background-color: var(--primary-highlight-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-highlight-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.activity {
  margin: 2em 0;
}

.activity h6 {
  margin: 0;
  color: var(--secondary-text-color);
  text-transform: capitalize;
}

.activity h3 {
  margin-top: 0.5em;
}

.activity .stats {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.activity .stats p {
  margin-top: 0;
  font-size: 1.2em;
}

.activity .leaflet-control-zoom a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .blog-content img {
    width: 600px;
  }

  .subscribe input[type="text"] {
    flex: 0 0 calc(100% - 1em);
    padding: 1em 0 1em 1em;
  }

  .subscribe button {
    flex: 0 0 100%;
    margin: 1em 0 0 0;
  }
}

@media (max-width: 640px) {
  .blog-content img {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .link {
    font-size: 0.8em;
  }

  .hero {
    margin-bottom: 60px;
  }

  header {
    margin: 40px 0 60px 0;
  }

  .content {
    padding: 0 1em;
  }

  .project-thumbnail {
    min-width: 100px;
    min-height: 100px;
  }

  .blog-content img {
    width: 400px;
  }
}

@media (max-width: 420px) {
  .blog-content img {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .link {
    font-size: 0.6em;
  }

  .hero {
    margin-bottom: 20px;
  }

  header {
    margin: 40px 0 20px 0;
  }
}