@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-slate;
	}
	.reading-view {
		@apply mx-auto max-w-3xl;
	}

	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong Thin'), local('Noto-Sans-Hong-Kong-Thin'),
			local('noto sans hong kong thin'), local('noto-sans-hong-kong-thin'),
			url('/NotoSansHK-Thin.otf');
		font-weight: 100;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong Light'), local('Noto-Sans-Hong-Kong-Light'),
			local('noto sans hong kong light'), local('noto-sans-hong-kong-light'),
			url('/NotoSansHK-Light.otf');
		font-weight: 300;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong'), local('Noto-Sans-Hong-Kong'), local('noto sans hong kong'),
			local('noto-sans-hong-kong'), url('/NotoSansHK-Regular.otf');
		font-weight: normal;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong Medium'), local('Noto-Sans-Hong-Kong-Medium'),
			local('noto sans hong kong medium'), local('noto-sans-hong-kong-medium'),
			url('/NotoSansHK-Medium.otf');
		font-weight: 500;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong Bold'), local('Noto-Sans-Hong-Kong-Bold'),
			local('noto sans hong kong bold'), local('noto-sans-hong-kong-bold'),
			url('/NotoSansHK-Bold.otf');
		font-weight: bold;
		font-display: swap;
		font-style: normal;
	}
	@font-face {
		font-family: 'Noto Sans Hong Kong';
		src: local('Noto Sans Hong Kong Black'), local('Noto-Sans-Hong-Kong-Black'),
			local('noto sans hong kong black'), local('noto-sans-hong-kong-black'),
			url('/NotoSansHK-Black.otf');
		font-weight: 900;
		font-display: swap;
		font-style: normal;
	}

	/* Article */
	.prose :is(h1, h2, h3) {
		@apply mb-4 mt-20 text-3xl font-bold;
	}

	.prose :is(h4, h5, h6) {
		@apply mt-4 text-lg font-bold;
	}

	.prose p {
		@apply leading-loose;
	}

	.prose pre {
		@apply relative whitespace-pre-wrap rounded p-4;
	}

	.prose p code {
		@apply rounded-sm bg-slate-200 px-1 py-[2px] font-mono text-orange-500;
	}

	.prose ol {
		@apply list-inside list-decimal space-y-2;
	}

	.prose ul {
		@apply list-inside list-disc space-y-2;
	}

	.prose img {
		@apply border border-slate-lightest;
	}

	.prose figcaption {
		@apply -mt-2 text-xs text-slate-light;
	}
}
